// check out https://github.com/visionmedia/jade for a guide

h1 
   :markdown
      | _**MONGO**_ brings you data regarding: 
   div#groupName #{title}

div
   div#placeholder(style="width:600px;height:300px;")
div
   div#overview(style="margin-left:50px;margin-top:20px;width:400px;height:80px")

