// check out https://github.com/visionmedia/jade for a guide

h1 
   :markdown
      | _**MONGO**_ brings you data regarding: 
   div#groupName #{title}

div#bbox
   div#loading loading ... 

div#groupSelect
   select#selector 
   div#groupID.message.bye
   div.message.bye Click a message (including this one) to clear it!
   div.message.bye Please be patient while the graphs render, there can be a lot of data.

div
   button#showAll Reset Time Frame
   button#next Next Error Group
   button#showErrorMessages Toggle Messages Overlay for Error Group
   div#clickdata.message.bye
   div#errorMessageOverlay
      button#closeErrorMessages [X]
      div#errorMessagesInGroup 
         | Group ID: 
         span#overlayGroupID
         br
         | Group Name: 
         span#overlayGroupName
         div#messagesList
            ul#grpMessageList
   div#placeholder(style="width:700px;height:300px;")
div
   div#overview(style="margin-left:50px;margin-top:20px;width:500px;height:90px")

div
   button#showAll2 Reset Time Frame
   button#restoreAllSeries Restore All Lines
   div#placeholder1(style="width:800px;height:300px;")
   div#choices
   div#legendTurningSeries

div#nextDino
   | afmc 2011


