// check out https://github.com/visionmedia/jade for a guide

h1 
   :markdown
      | _**MONGO** has returned with_: 
   #{title}

div
   div#placeholder(style="width:600px;height:300px;")

   p Zoom to:
      button#whole Whole period
      button#months Months
      button#days Days

