// check out https://github.com/visionmedia/jade for a guide

h1 
   :markdown
      | _**MONGO**_ brings you data regarding: 
   div#groupName #{title}

div#groupSelect
   select#selector

div
   div#placeholder(style="width:700px;height:300px;")
div
   div#overview(style="margin-left:50px;margin-top:20px;width:500px;height:90px")

div
   div#placeholder1(style="width:800px;height:300px;")
   div#choices
   div#legendTurningSeries

div#next
   | afmc 2011


