!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-1.5.1.min.js", type="application/javascript")
    script(src="/javascripts/flot/jquery.flot.js", type="application/javascript")
    script(src="/javascripts/flot/jquery.flot.selection.js", type="application/javascript")
    script(src="/javascripts/flot/jquery.flot.crosshair.js", type="application/javascript")
    script(src="/javascripts/errNode.js", type="application/javascript")
    
  body!= body
  
