body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #6899D3;
}

h1 {
  background-color: #274E7D;
  background-image:url('../images/graa.png');
  background-repeat: no-repeat;
  background-position:bottom right;
  height: 300px;
  padding: 10px;
  font-size:45px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px 20px 20px 20px; /* for some reason you have to declare all corners in ie*/

}

a {
  color: #00B7FF;
}

div {
  background-color: #FFFFFF;
  color: #043463;
  margin: 10px;
  padding: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px 20px 20px 20px; /* for some reason you have to declare all corners in ie*/
}

.colorslove {
  color: #F80012;
}

#grpId {
  color: #A2000C;
}

table .errorGroup, .error td, .cols th
{
   border:1px solid green;
}

#showAll {
   color: #FF0000;
   font-size: 18px;
}

.cols th
{
   background-color:green;
   color:white;
}
