body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  background-color: #6899D3;
}

h1 {
  background-color: #274E7D;
  background-image:url('../images/graa.png');
  background-repeat: no-repeat;
  background-position:bottom right;
  height: 310px;
  padding: 10px;
  font-size: 45px;
  -moz-border-radius: 20px;
  border-radius: 20px; /* for some reason you have to declare all corners in ie*/

}

h1 p {
   color: #5CCCCC;
   margin: 10px;
   font-size: 80px;
}

a {
  color: #00B7FF;
}

div {
  background-color: #FFFFFF;
  color: #043463;
  margin: 10px;
  word-wrap:break-word;
  padding: 10px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: block;
}

.colorslove {
  color: #F80012;
}

#grpId {
   color: #A2000C;
}

ul.bubbleList {
   list-style-type:none;
   padding: 0;
}

.bubbleList li {
   margin: 30px 0 30px 0;
}

.bubble {
   display: inline;
}

table .errorGroup, .error td, .cols th
{
   border:1px solid green;
}

table {
   table-layout:fixed;
   width: 95%;
}

#showAll {
   color: #FF0000;
   font-size: 18px;
}

.cols th
{
   background-color:green;
   color:white;
}
